{% load static %}
<script src="{% static "js/fileupload/tmpl.min.js" %}"></script>
<script src="{% static "js/fileupload/load-image.min.js" %}"></script>
<script src="{% static "js/fileupload/canvas-to-blob.min.js" %}"></script>
<script src="{% static "js/fileupload/blueimp-gallery.min.js" %}"></script>
<script src="{% static "js/fileupload/jquery.iframe-transport.js" %}"></script>
<script src="{% static "js/fileupload/jquery.fileupload.js" %}"></script>
<script src="{% static "js/fileupload/jquery.fileupload-fp.js" %}"></script>
<script src="{% static "js/fileupload/jquery.fileupload-ui.js" %}"></script>
